<!-- navbar  -->
<div class="navbar navbar-toggler navbar-light sticky-top ">
  <li class="item"><a href="#">Girl</a></li>
  <li class="item"><a href="#">Boy</a></li>
  <div class="dropdown1">
    <li class="item"><a href="#">Hot</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Polistic</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Showbiz</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Life</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Beauti</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Beauti</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Beauti</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Beauti</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="dropdown1">
    <li class="item"><a href="#">Beauti</a></li>

    <div class="drop-down1" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
<!-- assistant under nav -->
<div class="bder"></div>
<div class="assi sticky">
  <a href="#"><img src="../../assets/pic/asistant-icon.png"/></a>
</div>
<!-- hot new x contact  -->
<div class="hotnew">
  <a class="img-thunder" href="#">Hot New</a>

  <div class="contact">
    <li class="item">
      <p>0923 457 788 (Hà Nội) | 0962 237 788 (Tp.HCM)</p>
    </li>
    <li class="item">
      <p>01/03/2020 16:35:54 (GMT +7)</p>
    </li>
  </div>
</div>
