<div class="header-container">
  <div class="logo">
    <img class="img1" src="../../assets/pic/logo.jpg" />
  </div>
  <!-- content on right  -->
  <div class="text-content">
    <a class="content" href="#">Register</a> |
    <a class="content" href="#">Sign-in</a> |
    <a class="content" href="#">Information</a> |
    <a class="content" href="#">Register</a> |
    <a class="content" href="#">Sign-in</a> |
    <a class="content" href="#">Information</a>
  </div>
  <!-- search button + input  -->
  <div class="input">
    <input type="text" placeholder="In Put Search" />
    <button class="btn btn-deco btn-ou" type="button">
      Button
    </button>
  </div>
  <!-- icon/fb/youtube -->
  <div class="list-content">
    <li><a href="#" class="btn btn-danger">Hot New</a></li>
    <li><a href="#" class="btn btn-info">New 24h</a></li>
    <li><a href="#" class="btn btn-fb btn-lg"> fb</a></li>
    <li>
      <a href="#" class="btn btn-youtube btn-lg"> youtube</a>
    </li>
    <li>
      <a href="#" class="btn btn-login btn-lg "> youtube</a>
    </li>
  </div>
</div>
