<div class="footer">
  <ul class="menu-bottom">
    <li class="item-active">
      <a href="" class="label-bottom bgc-dark text-item">Polistic</a>
      <ul class="submenu">
        <li class="item"><a href="#">Law</a></li>
        <li class="item"><a href="#">Rule</a></li>
        <li class="item"><a href="#">Criminal</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom bgc-dark text-item">charactic</a>
      <ul class="submenu">
        <li class="item"><a href="#">Eyes</a></li>
        <li class="item"><a href="#">Nose</a></li>
        <li class="item"><a href="#">Lip</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom bgc-dark text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom bgc-dark text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom bgc-dark text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom bgc-dark text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom bgc-dark text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom text-item">Food</a>
      <ul class="submenu">
        <li class="item"><a href="#">Fast food</a></li>
        <li class="item"><a href="#">Main dish</a></li>
        <li class="item"><a href="#">dessert</a></li>
      </ul>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom text-item t2-row">Main dish</a>
      <a href="" class="label-bottom text-item t2-row">Thuan Viet</a>
      <a href="" class="label-bottom text-item t2-row">Alaia</a>
    </li>
    <li class="item-active">
      <a href="" class="label-bottom text-item t2-row">Food</a>
      <a href="" class="label-bottom text-item t2-row">Food</a>
      <a href="" class="label-bottom text-item t2-row">Food</a>
    </li>
  </ul>
  <div class="foot">
    <img src="../../assets/pic/logo.jpg" />
    <div class="info">
      <p><b>Cơ quan chủ quản: Bộ Thông tin và Truyền thông</b></p>
      <p>
        Số giấy phép: 09/GP - BTTTT, cấp ngày 07/01/2019
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
    </div>
    <div class="info">
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
      <p>
        <b> Tổng biên tập: le phuc sang </b>
      </p>
    </div>
  </div>
</div>
