<!-- drop down button under nav bar hoder -->
<div class="dropdown">
  <button
    class="btn-light btn-sm dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
  >
    Sort New
  </button>
  <div class="drop-down" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div class="row body-declare">
  <!-- big pic on left -->
  <div class="main">
    <img
      class=" w-100 h-50"
      src="../../assets/pic/doanh-so-iphone-lao-doc-o-trung-quoc-do-covid-19-240x160.jpg"
    />
    <div class="mainsample h-50">
      <a href="#">
        <h3>Top 10 môtô siêu đắt năm 2020, giá cao nhất lên đến 3,6 tỷ đồng</h3>
      </a>
      <div>
        Các mẫu xe này không chỉ có bề ngoài cực khủng mà trang bị cũng như động
        cơ siêu mạnh mẽ cùng giá bán đắt “cắt cổ” mà chỉ ....
      </div>
    </div>
  </div>

  <!-- 2 pic on right -->
  <div class="col-6 h-390 ">
    <!-- pic 1 -->
    <div class="w-100 h-50 sub">
      <img
        class="img-right"
        src="../../assets/pic/truong-phong-quan-he-bat-chinh-voi-nu-pho-phong-o-hau-giang-bi-ky-luat-240x160.jpg"
      />
      <div class="sub-sample">
        <a href="#">
          <h3>bi quyet duoc chia se trực tiếp</h3>
        </a>
      </div>
    </div>

    <!-- pic 2 -->
    <div class="w-100 sub">
      <img
        class="img-right"
        src="../../assets/pic/bi-quyet-lam-mien-xao-bo-kieu-trieu-tien-320x214.jpg"
      />
      <div class="sub-sample">
        <a href="#">
          <h3>bi quyet duoc chia se trực tiếp</h3>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="bder"></div>
