@import "../header/header.component.scss";

.body-declare {
  padding: 15px 0 15px 15px;
  width: 1140px;
  overflow: hidden;
}
.bder::after {
  content: "";
  display: block;
  border-top: 1px dashed rgb(202, 202, 202);
  border-bottom: 1px dashed rgb(202, 202, 202);
  padding-top: 3px;
  width: 790px;
}
.main {
  width: 450px;
  height: 374px;
  overflow: hidden;
  .mainsample {
    background-color: black;
    padding: 10px 0 0 10px;

    h3 {
      text-align: left;
      width: 425px;
      color: white;
      font-size: 22px;
      line-height: 30px;
    }
    div {
      color: white;
    }
  }
}

.sub {
  position: relative;
  overflow: hidden;
  h3 {
    text-align: left;
    width: 320px;
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 20px 5px;
  }
  .sub-sample {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
.img-right {
  width: 320px;
  height: 180px;
}

.color-w {
  color: white;
}
.color-d {
  color: black;
}
.h-390 {
  height: 390px;
}
